<div class="well well-lg hidden-xs">
    <h3 th:text="#{cas.cyverse.resources.header}">:</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="http://www.cyverse.org/" th:inline="text">
                <i class="fa fa-file"></i> [[#{cas.cyverse.resources.web}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://status.cyverse.org/" th:inline="text">
                <i class="fa fa-spinner"></i> [[#{cas.cyverse.resources.status}]]
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://www.cyverse.org/learning-center/" th:inline="text">
                <i class="fa fa-graduation-cap"></i> [[#{cas.cyverse.resources.learning-center}]]
            </a>
         </li>
        <li class="list-group-item">
            <a href="http://www.cyverse.org/about" th:inline="text">
                <i class="fa fa-info-circle"></i> [[#{cas.cyverse.resources.about}]]
            </a>
        </li>

    </ul>
</div>
